{% extends 'products/base.html' %}


{% block content %}
    <h1>hello</h1>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusamus nobis sed ipsum officia 
        recusandae perspiciatis earum voluptatibus nemo beatae eveniet fugit perferendis, cupiditate 
        impedit similique sint corrupti aperiam! Quis accusantium at rem enim nam, illum expedita beatae, 
        cupiditate reiciendis perferendis debitis, quae voluptate veritatis ad aut assumenda accusamus pariatur.
         Earum, voluptatum. Blanditiis ad rem quo
         saepe neque, sapiente praesentium autem eaque est illo voluptates possimus, nesciunt aliquid fuga ipsa sequi.</p>


{% endblock %}